html {
    font-size: 62.5%;
}

@media(max-width:998px){
    html {
            font-size: 50%;
        }
}
@media(max-width:750px){
    html {
            font-size: 40%;
        }
}
@media(max-width:500px){
    html {
            font-size: 30%;
        }
}

* {
    margin: 0px;
    padding: 0px;

    font-family: 'Inter', sans-serif;
    font-family: 'Inter Tight', sans-serif;
    font-family: 'Work Sans', sans-serif;

}

#container{
    height: max-content;
    height: 73vh;
    display: flex;
    align-items: end;
    width: 100vw;
    justify-content: space-around;
}

header {
    background-color: rgba(240, 248, 255, 0.882);
}

* {
    margin: 0px;
    padding: 0px;

    font-family: 'Inter', sans-serif;
    font-family: 'Inter Tight', sans-serif;
    font-family: 'Work Sans', sans-serif;

}

header {
    background-color: aliceblue;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    height: 27vh;

    .header-right {
        p {
            font-size: 5rem;
            font-weight: 400;
            color: #749292;
        }

        #algo-div {
            display: flex;
            justify-content: space-between;

            button {
                &:hover{
                    scale: 1.018;
                    cursor: pointer;
                }
                font-size: 1.7rem;
                color: #87AAAA;
                padding: 0rem;
                margin: 0rem;
                height: 4rem;
                width: 14rem;
                border: none;
                border-radius: .3rem;
                background-color: #EFFFFD;
                box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07),
                    0 1px 2px rgba(0, 0, 0, 0.07),
                    0 2px 4px rgba(0, 0, 0, 0.07),
                    0 4px 16px rgba(0, 0, 0, 0.07),
                    0 16px 16px rgba(0, 0, 0, 0.07),
                    0 16px 32px rgba(0, 0, 0, 0.07);
            }
        }

        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .header-left {
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        p {
            font-size: 1.6rem;
        }
        .array-size-div{
            height: 5rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            p{
                color: #967E76;
                font-size: 1.8rem;
                font-weight: 600;
            }

            input{

                &:hover {
                        opacity: 1;
                    }
                &::-webkit-slider-thumb {
                    -webkit-appearance: none;
                    appearance: none;
                    width: .7rem;
                    height: 3rem;
                    background: #967E76;
                    cursor: pointer;
                }
                
                &::-moz-range-thumb {
                    width: 2rem;
                    height: 2rem;
                    background: #04AA6D;
                    cursor: pointer;
                }

                color: black;
                width: 20rem;

                -webkit-appearance: none;
                    width: 70%;
                    height: 1rem;
                    background: #EEE3CB;
                    outline: none;
                    opacity: 0.7;
                    -webkit-transition: .2s;
                    transition: opacity .2s;
            }

        }
        button {
            &:hover {
                    scale: 1.05;
                    cursor: pointer;
                }
            font-weight: 400;
            font-size: 1.7rem;
            color: white;
            padding: 0rem;
            margin: 0rem;
            height: 4rem;
            width: 40rem;
            border: none;
            border-radius: .3rem;
            background-color: #967E76;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07),
                0 1px 2px rgba(0, 0, 0, 0.07),
                0 2px 4px rgba(0, 0, 0, 0.07),
                0 4px 16px rgba(0, 0, 0, 0.07),
                0 16px 16px rgba(0, 0, 0, 0.07),
                0 16px 32px rgba(0, 0, 0, 0.07);
        }
    }
}